<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>recruitmentSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.recruitmentSystem.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckUsernameServlet</display-name>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.AjaxCheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <url-pattern>/AjaxCheckUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckUserPhoneServlet</display-name>
    <servlet-name>AjaxCheckUserPhoneServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.AjaxCheckUserPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckUserPhoneServlet</servlet-name>
    <url-pattern>/AjaxCheckUserPhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddResumeServlet</display-name>
    <servlet-name>AddResumeServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.AddResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddResumeServlet</servlet-name>
    <url-pattern>/AddResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCompanyServlet</display-name>
    <servlet-name>AddCompanyServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.AddCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCompanyServlet</servlet-name>
    <url-pattern>/AddCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSuccessServlet</display-name>
    <servlet-name>LoginSuccessServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.LoginSuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSuccessServlet</servlet-name>
    <url-pattern>/LoginSuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyListServlet</display-name>
    <servlet-name>CompanyListServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.CompanyListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyListServlet</servlet-name>
    <url-pattern>/CompanyListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyCompanyInfoServlet</display-name>
    <servlet-name>MyCompanyInfoServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.MyCompanyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyCompanyInfoServlet</servlet-name>
    <url-pattern>/MyCompanyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCompanyInfoServlet</display-name>
    <servlet-name>UpdateCompanyInfoServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.UpdateCompanyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCompanyInfoServlet</servlet-name>
    <url-pattern>/UpdateCompanyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCompanySuccessServlet</display-name>
    <servlet-name>UpdateCompanySuccessServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.UpdateCompanySuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCompanySuccessServlet</servlet-name>
    <url-pattern>/UpdateCompanySuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPostServlet</display-name>
    <servlet-name>AddPostServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.AddPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostServlet</servlet-name>
    <url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPostListServlet</display-name>
    <servlet-name>MyPostListServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.MyPostListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPostListServlet</servlet-name>
    <url-pattern>/MyPostListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePostServlet</display-name>
    <servlet-name>DeletePostServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.DeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostServlet</servlet-name>
    <url-pattern>/DeletePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePostServlet</display-name>
    <servlet-name>UpdatePostServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.UpdatePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePostServlet</servlet-name>
    <url-pattern>/UpdatePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyDetailServlet</display-name>
    <servlet-name>CompanyDetailServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.CompanyDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyDetailServlet</servlet-name>
    <url-pattern>/CompanyDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyResumeServlet</display-name>
    <servlet-name>MyResumeServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.MyResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyResumeServlet</servlet-name>
    <url-pattern>/MyResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserInfoServlet</display-name>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.UpdateUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <url-pattern>/UpdateUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateResumeServlet</display-name>
    <servlet-name>UpdateResumeServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.UpdateResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateResumeServlet</servlet-name>
    <url-pattern>/UpdateResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExperienceServlet</display-name>
    <servlet-name>AddExperienceServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.AddExperienceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExperienceServlet</servlet-name>
    <url-pattern>/AddExperienceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyExperienceServlet</display-name>
    <servlet-name>MyExperienceServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.MyExperienceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyExperienceServlet</servlet-name>
    <url-pattern>/MyExperienceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteExperienceServlet</display-name>
    <servlet-name>DeleteExperienceServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.DeleteExperienceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExperienceServlet</servlet-name>
    <url-pattern>/DeleteExperienceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddExperienceSuccessServlet</display-name>
    <servlet-name>AddExperienceSuccessServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.AddExperienceSuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddExperienceSuccessServlet</servlet-name>
    <url-pattern>/AddExperienceSuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateExperienceServlet</display-name>
    <servlet-name>UpdateExperienceServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.UpdateExperienceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExperienceServlet</servlet-name>
    <url-pattern>/UpdateExperienceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateExperienceSuccessServlet</display-name>
    <servlet-name>UpdateExperienceSuccessServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.UpdateExperienceSuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExperienceSuccessServlet</servlet-name>
    <url-pattern>/UpdateExperienceSuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResumeDetailServlet</display-name>
    <servlet-name>ResumeDetailServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.ResumeDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeDetailServlet</servlet-name>
    <url-pattern>/ResumeDetailServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.recruitmentSystem.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryResumeServlet</display-name>
    <servlet-name>DeliveryResumeServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.DeliveryResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryResumeServlet</servlet-name>
    <url-pattern>/DeliveryResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComDeliveryResumeServlet</display-name>
    <servlet-name>ComDeliveryResumeServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.ComDeliveryResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComDeliveryResumeServlet</servlet-name>
    <url-pattern>/ComDeliveryResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeliveryResumeServlet</display-name>
    <servlet-name>UserDeliveryResumeServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.UserDeliveryResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeliveryResumeServlet</servlet-name>
    <url-pattern>/UserDeliveryResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefreshMyResumeServlet</display-name>
    <servlet-name>RefreshMyResumeServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.RefreshMyResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshMyResumeServlet</servlet-name>
    <url-pattern>/RefreshMyResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveResumeServlet</display-name>
    <servlet-name>ReceiveResumeServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.ReceiveResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveResumeServlet</servlet-name>
    <url-pattern>/ReceiveResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChoosePostListServlet</display-name>
    <servlet-name>ChoosePostListServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.ChoosePostListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoosePostListServlet</servlet-name>
    <url-pattern>/ChoosePostListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InviteServlet</display-name>
    <servlet-name>InviteServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.InviteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InviteServlet</servlet-name>
    <url-pattern>/InviteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPostServlet</display-name>
    <servlet-name>SearchPostServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.SearchPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPostServlet</servlet-name>
    <url-pattern>/SearchPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchDeliveryResumeServlet</display-name>
    <servlet-name>SearchDeliveryResumeServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.SearchDeliveryResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDeliveryResumeServlet</servlet-name>
    <url-pattern>/SearchDeliveryResumeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackDetailServlet</display-name>
    <servlet-name>FeedbackDetailServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.FeedbackDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackDetailServlet</servlet-name>
    <url-pattern>/FeedbackDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFeedbackServlet</display-name>
    <servlet-name>DeleteFeedbackServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.servlet.DeleteFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFeedbackServlet</servlet-name>
    <url-pattern>/DeleteFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadsServlet</display-name>
    <servlet-name>UploadsServlet</servlet-name>
    <servlet-class>com.recruitmentSystem.upload.UploadsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadsServlet</servlet-name>
    <url-pattern>/UploadsServlet</url-pattern>
  </servlet-mapping>
</web-app>